@media all and (max-width: 720px)
{
	.imgs_secundarias, .img_principal
	{
		padding: 25px;

	}


	.img_central, .img_izq, .img_der
	{
		width: 100%;
	}


	.cabecera h1
	{
		text-align: center;
		margin-top: 0;
	}


	.cabecera ul
	{
		padding: 0;
		text-align: center;

	}


	.cabecera li
	{
		display: inline;
		margin: 10px;
	}


			@media screen and (max-width: 350px)
			{
				.cabecera h1
				{
					font-size: 1.5em;
				}
			}


		.pie_pagina
	{
		padding: 20px;
		font-size: 0.9em;
		background-color: #C6d5c5;
		border-radius: 0px 0px 10px 10px;
	}


	.pie_pagina .contacto, .pie_pagina .terminos, .pie_pagina .redes_sociales
	{
		margin-bottom: 50px;
	}



}