html{
	width: 100%;
}

body{
	background-color: #02010a;
	font-family: 'Dancing Script';
}

header{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1{
	color: white;
	text-shadow: 2px 2px 2px #02010A;
	margin-left: 5%;
	display: inline-block;
}

#menu_enlaces{
	display: inline-block;
}

#menu_enlaces ul{
	margin-right: 100px;
	display: inline-block;
}

#menu_enlaces ul li{
	display: inline-block;
	list-style-type: none;
}

#menu_enlaces li a{
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: #ffffff;
}

#caja_central{
	background-color: #82c3a6;
}

#caja_secundaria{
	text-align: center;
	background-color: #d5c75f;
}

#img_central{
	display: block;
	margin: auto;
	padding: 20px;
	width: 50%;
	border-style: 1px solid black;
}

#img_izq, #img_der{
	width: 40%;
	border: 1px solid black;
	margin: 20px;
}

#img_izq:hover{
	transition: ease 1s;
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
	border-style: 2px solid black;
}

#img_der:hover{
	transition: ease 1s;
	transform: translate(5px, -20px);
	box-shadow: 2px 2px 2px #82c3a6;
	border-style: 2px solid black;
}

footer{
	clear: both;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
}

@media (max-width: 420px){
	header{
		height: 200px;
	}

	#img_central{
		width: 80%;
	}

	#img_izq, #img_der{
		width: 80%;
		border: 1px solid black;
		margin: 20px;
	}
}

@media (min-width: 421px) and (max-width: 720px){
	header{
		height: 200px;
	}

	#img_central{
		width: 80%;
	}

	#img_izq, #img_der{
		width: 80%;
		border: 1px solid black;
		margin: 20px;
	}
}

@media (max-width: 800px){
	header h1{
		width: 100%;
		order: 1;
	}

	#menu_enlaces{
		width: 100%;
		order: 2;
	}


}