body
{
	margin: 0;
	padding: 0;
	font-family: 'Dancing Script';
	background: #02010a;
}


.cabecera
{
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
	color: white;
	height: 100px;
}


.cabecera h1
{
	text-shadow: 2px 2px 2px #02010A;
}


.cabecera a 
{
	color: white;
}


.contacto a
{
	font-weight: bold;
}


.contacto a, .redes_sociales a
{
	color: black;
}


nav ul, .contacto a, .redes_sociales a
{
	list-style: none;
}


nav ul li a, .redes_sociales a
{
	text-decoration: none;
	font-weight: bold;
}


.img_izq:hover
{
	transition: ease 1s;
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
	border-style: 2px solid black;
}


.img_der:hover
{
	transition: ease 1s;
	transform: translate(5px, -20px);
	box-shadow: 2px 2px 2px #82c3a6;
	border-style: 2px solid black;
}


div p, .redes_sociales a
{
	font-size: 1.2em;
}


img
{
	border: 1px solid black;
	box-shadow: 2px 2px 2px #02010a;
}


.img_principal
{
	margin: 0;
	background: #82c3a6;
}


.imgs_secundarias, .imgs_paisajes
{
	margin: 0;
	background: #d5c75f;
	border: 1px solid black;
}


.p_paisajes, .p_retratos
{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}


.pie_pagina
{
	font-weight: bold;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	padding-left: 9%;
}


.redes_sociales a
{
	display: block;
}


.redes_sociales a img
{
	border: none;
	margin: 0;
	box-shadow: none;
	width: 100%;
	max-width: 23px;
}