body
{
	background-color: #02010a;
	font-family: 'Dancing Script';
}

.contenido{
	animation: animationContenido 1.5s;
}

@keyframes animationContenido {
	0% {
		margin-top: 150%;
	}

	60% {
		margin-top: -5%;
	}
	100% {
		margin-top: 0;
	}
}


/* ------------------------- ESTILOS GENERALES ------------------------- */

#cabecera{
	background-color: #5B7989;
	color: white;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
	-ms-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;

}		
		
#cabecera h1{
	text-shadow: 2px 2px 2px #02010A;
	margin-left: 15%;
}

#cabecera nav ul{
	display: flex;
	flex-flow: row wrap;
}		

#cabecera li{
	list-style: none;
}

#cabecera li a{
	color: white;
	font-weight: bold;
	padding: 20px;
}

#cabecera li a:active, #cabecera li a:hover{
	text-decoration: none;
}

#contenedor_central{
	background-color: #82c3a6;
}	

#contenedor_secundario, #contenedor_paisajes, #contenedor_retratos{
	background-color: #d5c75f;
	border: 1px solid black;
	justify-content: space-between;
}

#img1{
	filter: blur(10px);
}

#img3{
	-webkit-filter: sepia(90%);
	-moz-filter: sepia(90%);
	-ms-filter: sepia(90%);
	-o-filter: sepia(90%);
	filter: sepia(90%);
}

#img2, #img4, #img6{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

footer{
	clear: both;
	background-color: #C6d5c5;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-o-border-radius: 0px 0px 10px 10px;
	-ms-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

/* ------------------------- DISPOSITIVOS MOVILES ------------------------- */

@media all and (max-width: 899px){
	
	#cabecera{
		width: 100%;
		display: inline-block;
	}

	#cabecera h1{
		text-shadow: 2px 2px 2px #02010A;
		text-align: center;
		margin: 0;
	}

	nav{
		/*display: flex;*/
		align-items: center;		
	}	
				
	#contenedor_central img{
		width: 100%;
		display: block;
		margin: auto;
		padding: 7%;
		box-sizing: border-box;
	}

	#contenedor_secundario img, #contenedor_paisajes img, #contenedor_retratos img{
		width: 100%;
		padding: 7%;
		box-sizing: border-box;
	}	

	footer{
		text-align: center;
	}		

	#contenedor_footer{
		display: flex;
		flex-flow: column;
	}		
			
	#contacto, #terminos, #redes_sociales, #copyright{
		width: 100%;
		font-weight: bold;
		padding: 3%;
		box-sizing: border-box;
	}		
			
	#redes_sociales a{
		display: block;
	}		
			
	#redes_sociales a img{
		max-height: 23px;
	}

}


/* ------------------------- DISPOSITIVOS DE ESCRITORIO ------------------------- */


@media all and (min-width: 900px){
	
	#cabecera{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}


	#cabecera nav{
			float: right;
			margin-right: 10%;
	}

	#img_secundarias{
		display: flex;
		flex-direction: row;
	}
	
	#contenedor_central img{
		max-width: 80%;
		display: block;
		margin: auto;
		padding: 50px 0 50px 0;
	}


	#contenedor_secundario img{
		max-width: 75%;
	}		

	#contenedor_paisajes img, #contenedor_retratos img{
		max-width: 25%;
	}

	.paisaje, .retratos{
		padding: 25px;
	}

	#contenedor_secundario, #contenedor_paisajes, #contenedor_retratos{
		padding: 75px 0 75px 0;
	}

	#img_secundarias, #grupo_paisajes, #grupo_retratos{
		text-align: center;
		justify-content: space-between;
	}

	.img_izq, .img_der{
		border: 1px solid black;
		box-shadow: 2px 2px 2px #02010a;				
	}

	.img_izq:hover{
		transition: ease 1s;
		transform: rotate(10deg);
		box-shadow: 2px 2px 2px #82c3a6;
	}

	.img_der:hover{
		transition: ease 1s;
		transform: translate(5px, -20px);
		box-shadow: 2px 2px 2px #82c3a6;
	}

	/*#contenedor_secundario div > p{
		display: inline;
		font-weight: bold;
		text-decoration: underline;
		font-size: 1.2em;
	}	*/		

	#contenedor_footer{
		display: flex;
		flex-flow: row wrap;
	}		

	#contacto, #terminos, #redes_sociales, #copyright{
		width: 25%;
		padding-left: 3%;
		box-sizing: border-box;
		font-weight: bold;
		font-size: 1.2em;
	}		

	.foot_title{
		text-align: center;
	}		

	#redes_sociales a{
		display: block;
	}		

	#redes_sociales a img{
		max-height: 23px;
	}

}
