body{
	margin: 0;
	padding: 0;
	font-family: 'Dancing Script';
	/*background: #02010a;*/
}

.cabecera{
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
	color: white;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecera h1{
	margin-left: 10%;
	text-shadow: 2px 2px 2px #02010A;
}

.cabecera a{
	color: white;
}

nav{
	float: right;
	margin-right: 10%;
	width: 300px;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	padding: 20px;
}

nav ul li a{
	text-decoration: none;
}

img{
	max-width: 60%;
	height: auto;
}

.img_principal{
	margin: 0;
	background: #82c3a6;
}

.img_central{
	display: block;
	margin: auto;
	padding: 50px;
}

.imgs_secundarias{
	margin: 0;
	background: #d5c75f;
	border: 1px solid black;
	text-align: center;
	justify-content: space-between;
}

.img_izq{
	margin-right: 30px;
}

.img_der{
	margin-left: 30px;
}

.img_izq, .img_der{
	display: inline;
	padding: 50px 0px 50px 0px;
	max-width: 35%;
}

.img_izq:hover{
	transition: ease 1s;
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
	border-style: 2px solid black;
}

.img_der:hover{
	transition: ease 1s;
	transform: translate(5px, -20px);
	box-shadow: 2px 2px 2px #82c3a6;
	border-style: 2px solid black;
}

.redes_sociales a img{
	width: 50px;
}

footer{
	height: 300px;
	display: block;
	column-count: 4;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
}

.contacto{
	order: 1;
	float: left;
}